html, body {
    margin: 0;	padding: 0;
	overflow-x: hidden;
	background-color: #181818;	color: #fff;
	font-family: 'Open Sans', sans-serif;	font-size: 14px;
	color-scheme: dark;
    height: 100%;
}
body {
    background: #181818; /* цвет для всей страницы */
}

h1 {
	margin: 0;	padding-top: 80px;
	font-weight: 700;	font-size: 42px;
}
h2 {
	font-weight: 300;
	font-size: 18px;
	margin: 10px 0px 20px;
}
p, em {
	color: #fff4;
	font-size: 12px;
}

#currency {
    border: 5px solid #181818;
    padding: 10px;
    margin-top: 20px;
    color: black;
}

#top {
    height: 45%; /* верхняя треть */
    background: linear-gradient(#000628, #1b1e49); /* градиент */
}


