html, body {
	text-align: center;
    	margin: 0;	padding: 0;
	overflow-x: hidden;
	background-color: #181818;	color: #fff;
	font-family: 'Open Sans', sans-serif;	font-size: 14px;
	color-scheme: dark;
    height: 100%;
}
body {
    background: #181818; /* цвет для всей страницы */
}

h1 {
	margin: 0;	padding-top: 80px;
	font-weight: 700;	font-size: 42px;
}
h2 {
	font-weight: 300;
	font-size: 18px;
	margin: 10px 0px 20px;
}
p, em {
	color: #fff4;
	font-size: 12px;
}

#currency {
    border: 5px solid #181818;
    padding: 10px;
    margin-top: 20px;
    color: white;
}

#top {
  display: block;
  height: 440px;
  background: linear-gradient(#000628, #1b1e49);
  color: #fff;
  text-align: center;
}



#special {
	display: inline-block;
	width: 124px;
	margin: -4px 8px 4px;	padding: 11px 0;
	user-select: none;
	transition: 200ms;
	font-weight: 700;
	background-color: transparent;
	border: 2px solid #fff9;	border-radius: 4px;
	box-shadow: 0 0 0 0 #fff0;
}









#rndColorsBtn, #swapColorsBtn, #colorBPick1, #colorBPick2 {
	appearance: none;
	position: absolute;
	width: 32px;	height: 32px;
	margin: 4px;	padding-top: 4px;
	background: #fff0;
	border: 2px solid #fff0;	border-radius: 4px;
	transition: 200ms;
}
#rndColorsBtn:hover, #swapColorsBtn:hover, #colorBPick1:hover, #colorBPick2:hover {
	opacity: 1 !important;
	background: #fff3;
	border: 2px solid #fff0;
}
#rndColorsBtn:hover:active, #swapColorsBtn:hover:active, #colorBPick1:hover:active, #colorBPick2:hover:active {
	background: #fff6;
	border: 2px solid #fff3;
}
